/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


# local file
storage/*.key
storage/base_info.json
storage/forlocal
storage/framework
storage/sitedata/notice.txt

# Editor
.vscode
.DS_Store
.idea

# Laravel Testing
.env.testing

# deploy
deploy.sh

# bootstrap file
boots.txt

# test controller
app/Http/Controllers/Api/TestController.php
app/Http/Controllers/Web/TestController.php
